body
{
	background-image: url(back.jpg);
	background-size: cover;
	padding: 0;
	margin: 0;
}

.calc-container
{
	width: 450px;
	height: 500px;
	margin: 0 auto;
	margin-top: 250px;
	border: 1px black solid;
	border-radius: 30px;
	box-shadow: white 0 0 5px;
}
#screen{
	font-family: Orbitron;
	text-shadow: white 0 0 2px;
	font-size: 50px;
	padding-right: 50px;
	line-height: 100px;
	color: rgb(0, 0, 0);
	text-align: right;
	height: 100px;
	background-color: rgb(22, 22, 22);
	border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
	border-radius: 30px 30px 0 0;
}

.digits{
	background: rgb(54, 54, 54);
	width: 259px;
	height: 400px;
	border-radius: 0px 0px 0 30px;
	border-right-color: black;
    border-right-style: solid;
    border-right-width: 1px;
    float: left;
}

.other{
	width: 190px;
	height: 400px;
	float: right;
	box-sizing:border-box;
	border-radius: 0 0 30px 0;
	padding-left: 10px;
	background-color:rgb(36, 36, 36)
}

button{
	background-color: #383838;
	box-shadow: white 0 0 5px;
	font-size: 30px;
	margin: 6px;
	margin-top: 10px;
	width: 70px;
	height: 70px;
	border-radius: 5px;
}