body{
	margin: 0;
	padding: 0;
	background-image: url(back.jpg);
	background-size: cover;
}

main{
	width: 600px;
	height: 600px;
	margin: 0 auto;
	padding: 0;
}

h1{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 2px black;
	
}

.hitBox{
	border-radius: 10px;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 195px;
	height: 195px;
	border: 1px solid white;
	float: left;
	cursor: pointer;
	line-height: 195px;
	font-size: 120px;
	background-color: rgb(255, 196, 0);
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.hitBox:hover{
	border: 1px solid black;
}

#refresh{
	line-height: 100px;
	font-size: 60px;
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;
	width: 600px;
	height: 100px;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0 0 10px rgb(255, 196, 0);
	cursor: pointer;
	background-color: rgb(255, 196, 0);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: bold;
	color: white;
	text-shadow: 0px 0px 10px black;
	box-shadow: 0 0 10px black;
}

#refresh:hover{
	border: 1px solid black;
}