body
{
	background-image: url(backin.jpg);
	background-size: cover;
	margin: 0;
	padding: 0;
}

h1
{
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	text-shadow: 0 2px 10px rgb(0, 0, 0);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
}

main
{
	background-color: #5a5a5a;
	width: 800px;
	height: 500px;
	box-shadow: 0 0 10px black;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 200px;
}

.form {
    width: 150px;
    margin: 60px auto 30px;
    padding: 15px;
	border:solid rgb(255, 255, 255);
	box-shadow: black 0 0 10px;
	border-width: 10px;
    color: #000;
	background-image: url(backin.jpg);
	background-size: cover;    
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.float{
	position: relative; right: 13px;
}