body{
    margin: 0;
    padding: 0;
    background-image: url(background.png);
    background-size: cover;
    
}
header{
    background-image: url(background.png);
    background-size: cover;
    box-shadow:0 0 20px turquoise ;
    background-color: black;
    border-radius: 5px;
    border: solid white;
    border-spacing: 10px;
    margin: 20px;
    padding: 30px;
}
#main-menu{
    text-shadow:0 0 5px turquoise;
    font-size: 3.5rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
#intro{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    text-shadow: turquoise 0 0 10px;
}
a{
    margin: 45px;
    color: white;
}
img#sampleImg{
width: 450px;
}
#sampleImgDiv{
    height: 550px;
    width: 454px;
}
h3{
    width: 800px;
    height: 454px;
    position: relative; left: 1075px; bottom: 478px;
    font-size: 25px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:transparent;
    border: solid;
    border-color: white;
    border-radius: 10px;
    box-shadow: turquoise 0 0 10px;
    padding: 10px;
    color: white;
    text-shadow: turquoise 0 0 10px;
    text-align: center;
}
h1{
  color: white;
  text-shadow:turquoise 0 0 10px;
  text-align: center;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 50px;
}
#filling{
    color: white;
    text-shadow: turquoise 0 0 10px;
    background-color: transparent;
    border: solid white;
    border-radius: 10px;
    box-shadow: turquoise 0 0 10px;
    width: 800px;
    height: 200px;
    padding: 10px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative; top: 10px;
}
#web{
    position: relative; left: 1500px; bottom: 250px;
    height: 350px;
    width: 350px;
}
#tech{
    text-align-last: center;
}
h5{
    width: 800px;
    height: 150px;
    font-size: 25px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:transparent;
    border: solid;
    border-color: white;
    border-radius: 10px;
    box-shadow: turquoise 0 0 10px;
    padding: 10px;
    color: white;
    text-shadow: turquoise 0 0 10px;
    text-align: center;
    margin-left: 550px;
}
footer{
  height: 100px;
  background-image: url(background.png);
  background-size: cover;
  border: solid white;
  border-radius: 10px;
  box-shadow: turquoise 0 0 10px;
}
h6{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    text-shadow: turquoise 0 0 10px;
    font-size: 20px;
}  
p{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 40px;
    color: white;
    text-shadow: turquoise 0 0 10px;
    font-size: 10px;  
}