body{
background-image: url(back.jpg);
background-size: cover;
}
#header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}
#main{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 0;
	margin: 0;
	list-style: none;
}

.headLink{
	width: 150px;
  	height: 50px;
  	background: transparent;
  	text-align: center;
  	line-height: 50px;
	border-radius: 10px;
	box-shadow:rgb(219, 40, 174) 0 0 10px;
	border: solid white;
}

.headLink2{
	width: 350px;
  	height: 350px;
  	background: transparent;
  	text-align: center;
  	line-height: 400px;
  	font-size: 50px;
  	font-weight: bold;
	border-radius: 10px;
	box-shadow: turquoise 0 0 10px;
	border: solid white;
}

h1{
	margin-top: 2%;
	color: rgb(255, 255, 255);
	text-shadow: rgb(219, 40, 174) 0 0 10px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: bold;
	width: 100%;
	line-height: 50px;
	text-align: center;
}

a{
	text-decoration: none;
	color: white;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: bold;
	text-shadow: rgb(219, 40, 174) 0 0 10px;

}
.mainLink{
	margin-top: 2%;
	width: 400px;
  	height: 400px;
  	background: transparent;
  	text-align: center;
  	line-height: 400px;
  	font-size: 50px;
  	font-weight: bold;
	border-radius: 10px;
	box-shadow: rgb(219, 40, 174) 0 0 10px;
	border: solid white;
}
footer{
	height: 100px;
	margin-top: 5%;
	background-image: url(background.png);
	background-size: cover;
	border-top: solid white;
	border-radius: 10px;
	box-shadow: turquoise 0 -5px 10px;
}

h2{
	
	color: rgb(255, 255, 255);
	text-shadow: rgb(219, 40, 174) 0 0 10px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: bold;
	width: 100%;
	line-height: 50px;
	text-align: left;
}
