body{
	color:white;
}
.mainImg{
	height: 250px;
    object-fit: cover;
}

#demonstration, #contacts{
	background-color: #b8a0b6;
}

#img1
{
	border: white 10px solid;
}

#img2
{
	border: white 10px solid;
}

.logo
{
	height: 50px;
	margin-right: 10px;
}

#secondRow
{
	background-color: #8862a1;
}

#footer
{
	color: black;
}